.selectDiv {

    width: 100%;
    width: 50rem;
    height: 20rem;
    margin: 100px auto;

}

.userSelectDiv {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;

}