.military-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px;
  font-family: Arial, sans-serif;
}

h1 {
  margin-bottom: 20px;
  font-size: 36px;
  color: #333;
}

.portfolio-list {
  list-style-type: none;
  padding: 0;
  max-width: 600px;
  width: 100%;
}

.portfolio-item {
  margin-bottom: 20px;
  padding: 15px;
  border: 1px solid #ddd;
  border-radius: 5px;
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.portfolio-item h2 {
  margin: 0 0 10px 0;
  font-size: 24px;
  color: #007bff;
}

.portfolio-item p {
  margin: 0;
  font-size: 16px;
  color: #555;
}

.portfolio-item ul {
  list-style-type: none;
  padding-left: 20px;
  margin-top: 5px;
}

.portfolio-item ul li {
  margin-bottom: 5px;
  font-size: 16px;
  color: #555;
  position: relative;
}

.portfolio-item ul li::before {
  content: "-";
  position: absolute;
  left: -15px;
}

.titleImg {
  width: 200px;
}

.info {
  text-align: center;
}
